# Source: https://github.com/kartoza/docker-postgis/blob/11.0-2.5/docker-compose.yml
# If you need to create multiple database you can add coma separated databases eg gis,data
# POSTGRES_DB=gis
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
ALLOW_IP_RANGE=0.0.0.0/0
# Add extensions you need to be enabled by default in the DB. Default are the four specified below
POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,pgrouting
TZ=America/Sao_Paulo
